.transaction-item {
    border-bottom: 1px solid var(--bg-color);
    padding: 12px 0;
    color: rgb(40, 132, 236); /* Set text color to black */
    width: 98%;
    height: 50%;
}

.transaction-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.transaction-amount.positive {
    color: #2ecc71;
}

.transaction-amount.negative {
    color: #e74c3c;
}

.container-list {
    max-height: 600px;
    min-height: 600px; /* Set a minimum height */
    overflow-y: auto;
    margin-left: 0; /* Ensure no left margin */
    padding: 10px; /* Add padding if needed */
    background: var(--bg-color);
    color: var(--text-color);
}

.container-details {
    display: flex;
    gap: 10px;
    background-color: var(--bg-color);
}

.nav-pills .nav-link {
    background-color: var(--bg-color);
    cursor: pointer;
    color: var(--text-color); /* Set text color to black */
    border-bottom : 2px solid var(--bg-color) !important; /* Set active tab border color to red */
}

.nav-pills .nav-link.active {
    background-color: var(--button-bg-color) !important; /* Set active tab color to red */
    color: var(--text-color) !important; /* Ensure active tab text color is green */
    border-bottom : 2px solid var(--bg-color) !important; /* Set active tab border color to red */
}

.containersWrapper {
    background-color: var(--primary-color);
    background: var(--bg-color);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0px auto;
    margin-left: -300px;
    
}

.containersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px !important;
    padding: 9px;
    background-color: var(--bg-color);
}

.text-muted {
    color: var(--text-color) !important;
}