
.quick-transaction {
    background: white;
    border-radius: 15px;
    padding: 20px;
}

.nav-pills .nav-link {
    cursor: pointer;
}

.nav-link.active {
    color: var(--highlight-colour) !important;
    border-bottom: 2px solid var(--primary-color);
}

.btn-primary {
    background: var(--primary-color);
    border: none;
}

.transaction-amount.positive {
    color: #2ecc71;
}

.transaction-amount.negative {
    color: #e74c3c;
}



.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #666;
}

.legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.services-page {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-page {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
