.navbar-light {
    background-color: var(--bg-color) !important;
    border-bottom: 2px solid var(--highlight-colour) !important; /* Navbar Underline color */
    transition: background-color 0.1s !important;  
    --bs-nav-link-color: var(--primary-colour) !important;
    --bs-navbar-brand-color: var(--primary-colour) !important;
    --bs-nav-link-hover-color: var(--highlight-colour) !important;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}
.navbar-brand img {
    width: 30px;
    height: auto;
}
.nav-link {
    color: var(--primary-colour) !important;
    --bs-nav-link-color: var(--primary-colour) !important;
    --bs-nav-link-hover-color: var(--highlight-colour) !important;
}
.nav-link.active {
    background-color: var(--bg-color) !important;
    transition: background-color 0.1s !important; 
    color: var(--highlight-colour) !important;
    border-bottom: 2px solid var(--highlight-colour);
    --bs-nav-link-color: var(--primary-colour) !important;
    --bs-navbar-brand-color: var(--primary-colour) !important;
    --bs-nav-link-hover-color: var(--highlight-colour) !important;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}
.nav-link:focus, .nav-link:hover {
    color: var(--highlight-colour) !important;
}

.notification-icon {
    position: relative;
    transition: transform 0.2s ease;
}
.notification-icon:active {
    transform: scale(0.9);
}
.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 0.75rem;
    padding: 0.25em 0.5em; /* Padding for better appearance */
    background-color: #dc3545; /* Bootstrap's bg-danger color */
    color: var(--bg-color); /* Text color */
    border-radius: 50px; /* Rounded pill effect */
    z-index: 1051;
    min-width: 18px; /* Minimum width */
    height: 18px; /* Height */
    display: flex; /* Center the text */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.notifications-list {
    z-index: 1050; /* Ensure it appears above other components */
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items in a column */
    padding: 10px; /* Add some padding */
    background: var(--bg-color);
}
.notification-item {
    padding: 8px; /* Add padding for each notification item */
    border-bottom: 1px solid var(--bg-color); /* Optional: add a bottom border for separation */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: background-color 0.1s; /* Smooth background color transition */
}
.notification-item:hover {
    background-color: var(--bg-color); /* Change background on hover for better visibility */
}
.notification-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}
.mark-as-read {
    position: absolute;
    top: 2px;
    right: 9px;
    font-size: 0.75rem;
    padding: 0;
    text-decoration: underline;
    background: none;
    border: none;
    color: rgb(0, 162, 255);
}