.navbar-light .nav-link.active {
    border-bottom: 2px solid #0bd16e !important; /* Underline color */
    transition: background-color 0.1s !important; /* Smooth background color transition */
}

.nav-link.active {
    color: rgb(31, 219, 87) !important;
    border-bottom: 2px solid rgb(31, 219, 87) !important;
}

.notification-icon {
    position: relative;
    transition: transform 0.2s ease;
}

.notification-icon:active {
    transform: scale(0.9);
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 0.75rem;
    padding: 0.25em 0.5em; /* Padding for better appearance */
    background-color: #dc3545; /* Bootstrap's bg-danger color */
    color: white; /* Text color */
    border-radius: 50px; /* Rounded pill effect */
    z-index: 1051;
    min-width: 18px; /* Minimum width */
    height: 18px; /* Height */
    display: flex; /* Center the text */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.notifications-list {
    z-index: 1050; /* Ensure it appears above other components */
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items in a column */
    padding: 10px; /* Add some padding */
}

.notification-item {
    padding: 8px; /* Add padding for each notification item */
    border-bottom: 1px solid #e0e0e0; /* Optional: add a bottom border for separation */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: background-color 0.1s; /* Smooth background color transition */
}

.notification-item:hover {
    background-color: #f0f0f0; /* Change background on hover for better visibility */
}

.notification-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.mark-as-read {
    position: absolute; /* Position it absolutely within the notifications list */
    top: 10px; /* Adjust the top position */
    right: 10px; /* Adjust the right position */
    font-size: 0.75rem; /* Smaller font size */
    padding: 0; /* Remove padding for a more compact look */
    text-decoration: underline; /* Optional: underline to indicate it's a link */
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: #007bff; /* Bootstrap primary color or your preferred color */
}
