.SendScraperWrapper {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 13px;
    width: 86%;
    height: 25%;
    position: relative;
    margin-left: 319px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 27px;
    font-size: 13px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.actionRow {
    display: flex;
    justify-content: flex-end; /* Change this line */
    align-items: center;
    position: absolute; /* Add this line */
    bottom: 20px; /* Add this line */
    right: 20px; /* Add this line */
}

.amountDisplay {
    color: #1e3c72;
    font-weight: bold;
}

.sendButton {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 6px;
    margin-top: -68px;
    margin-bottom: -52px;
    height: 37px;
    width: 75px;
}

.sendButton:hover {
    background-color: #15315b;
}
