.workers-chart {
    position: relative;
    border-radius: 34px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    height: 30%;
    width: 85%;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 323px;
    margin-bottom: -50px;
}

.worker-chart-title {
    margin-top: 50px;
    margin-bottom: -15px; 
    font-size: 1.25rem; 
    text-align: top; 
}

.worker-chart-container {
    position: relative;
    height: 85%; 
    width: 95%; 
    padding: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}   

.worker-chart-canvas {
    box-sizing: border-box;
    display: block;
    height: 100%; 
    width: 100%; 
}

.worker-chart-legend {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* gap: 20px; */
    margin-top: 27px;
    /* margin-top: 20px; */
}



