.app-container {
    display: flex; /* Use flexbox for layout */
}

.main-content {
    flex: 1; /* Allow the main content to take the remaining space */
    padding: 20px; /* Add some padding */
}

.sidebar {
    width: 250px; /* Set a width for the sidebar */
    background-color: #f8f9fa; /* Example background color */
    border-right: 1px solid #e0e0e0; /* Optional: add a border */
    height: 100vh; /* Full height */
    position: fixed; /* Fix the sidebar to the left */
}

body {
    transition: background-color 0.1s ease, color 0.1s ease; /* Adjust the duration as needed */
}

.navbar-light {
    transition: background-color 0.1s ease, color 0.1s ease; /* Adjust the duration as needed */
}

.dark-theme .navbar-light {
    background-color: #343a40; /* Example dark background */
    color: white; /* Example dark text color */
}

.dark-theme .sidebar {
    background-color: #2c2c2c; /* Set a dark background for the sidebar */
} 